<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcp.musicsearcher">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".activity.search.MainActivity"></activity>
        <activity android:name=".activity.search.list.item.ItemActivity"></activity>
        <activity android:name=".activity.search.list.TrackListActivity"></activity>

    </application>

</manifest>
